

#toggleBtnContainer {
 margin: 20px;
}

#rpsBtnsContainer {
 margin: 20px;
}

#glyphContainer {
 margin: 20px;
}

#resetContainer {
 margin: 20px;
}

#endGameMsgContainer {
 margin: 20px;
}

#infoContainer {
 margin: 20px;
}

footer {
 text-align: center;
 margin-top: 100px;
}